version: "3.9"

services:
  runner:
    build:
      context: ./runner
      dockerfile: Dockerfile
    image: code-runner:latest
    container_name: code-runner-image
    command: ["sleep", "infinity"]
    restart: unless-stopped

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ws-api
    environment:
      NODE_ENV: production
      PORT: 8080
      HOST: 0.0.0.0
      EXEC_BASE_DIR: /code-runner
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - code-runner-data:/code-runner
    depends_on:
      - runner
    restart: unless-stopped

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: next-web
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
      NEXT_PUBLIC_WS_URL: "ws://api:8080" #ws://api:8080
    ports:
      - "3000:3000"
    depends_on:
      - api

networks:
  default:
    name: app-net

volumes:
  code-runner-data:
    name: code-runner-data
